include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include requirements.txt
recursive-include django_response_mixin_view *.html *.png *.gif *js *.css *jpg *jpeg *svg *py
